*{
	margin: 0;
	padding: 0;
}
.logo{
	width: 216px;
	height: 50px;
	margin-top: 25px;
}
.nav{
	height: 100px;
	background: red;
}
.silder{
	height: 300px;
	background: blue;
}
.content{
	height: 100px;
	background: yellow;
}
.footer{
	height: 100px;
	background: pink;
}
