<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>主页</title>
		<link rel="stylesheet" type="text/css" href="../../../../Public/public/index.css"/>
		<link rel="stylesheet" type="text/css" href="../../../../Public/public/bootstrap.min.css"/>
	</head>
	<body>
		<!--导航栏-->
		<div class="container nav">
			<div class="row">
				<div class="col-md-4">
					<img class="logo" src="../../../../Public/image/logo.png"/>
				</div>
			</div>
		</div>
		<!--轮播图-->
		<div class="container-fluid silder"></div>
		<!--主体-->
		<div class="container">
			<div class="row">
				<div class="col-md-12 content"></div>
			</div>
		</div>
		<!--页脚-->
		<div class="container">
			<div class="row">
				<div class="col-md-12 footer"></div>
			</div>
		</div>
	</body>
</html>
