.contentBox{
	width: 100%;
	height: auto;
}
.Content{
	border: 1px solid red;
	height: auto;
}
.books{
	background: black;
	height: 200px;
	float: left;
}
.bookAbout{
	background: darksalmon;
	height: 500px;
	float: left;
}
.hotUser{
	width: 100%;
	height: 200px;
	background: darkseagreen;
}
.hotUser span{
	display: block;
	width: 100%;
	height: 30px;
}
.hotUser p{
	display: inline-block;
	width: 70%;
	height: 100%;
	float: left;
}
.hotUser a{
	display: inline-block;
	float: left;
	list-style: none;
	color: blue;
	width: 30%;
	height: 100%;
	text-align: right;
}
.aaa{
	width: 100%;
	height: 170px;
	background: saddlebrown;
}
.bookList{
	width: 100%;
	height: 300px;
	background: darkslateblue;
}
@media only screen and (min-width:1200px) {
	.Content{
		width: 1200px;
		margin: 0 auto;
	}
	.books{
		width: 900px;
	}
	.bookAbout{
		width: 300px;
	}
}
@media only screen and (min-width:730px) and (max-width:1200px){
	.Content{
		width: 100%;
		margin: 0 auto;
	}
	.books{
		width: 75%;
	}
	.bookAbout{
		width: 25%;
	}
}
@media only screen and (max-width:730px){
	.contentBox{
		margin-top: 100px;
	}
	.Content{
		width: 100%;
		margin: 0 auto;
	}
	.books{
		width: 100%;
	}
	.bookAbout{
		width: 100%;
	}
}