a{
	text-decoration: none;
}
li{
	list-style: none;
}
.contentBox{
	width: 100%;
	margin-top: 20px;
	float: left;
	height: auto;
	overflow:auto
}
.Content{
	height: auto;
}
.books{
	height: auto;
	float: left;
}
.bookAbout{
	height: 500px;
	float: left;
}
.bookAbout a:hover{
	color: blue;
}
.hotUser{
	width: 100%;
	height: auto;
}
.hs{
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	font: "微软雅黑";
	font-weight:bold;
	border-bottom: 2px solid #545652;
}
.hotUser p{
	display: inline-block;
	width: 70%;
	height: 100%;
	float: left;
}
.hotUser a{
	display: inline-block;
	float: left;
	color: blue;
	width: 30%;
	height: 100%;
	text-align: right;
}
.hotUser ul{
	display: block;
	width: 100%;
	height: auto;
}
.hotUser li{
	display: inline-block;
	list-style: none;
	width: 100%;
	height: 30px;
	line-height: 30px;
}
.hotUser li:first-child{
	margin-top: 20px;
}
.hotUser li span{
	display: inline-block;
	width: 100%;
	height: 30px;
}
.hotUser li p{
	display: inline-block;
	width: 15%;
	height: 30px;
	float: left;
	padding-left: 5%;
	text-align: left;
	color: black;
}
.hotUser li a{
	color: black;
	display: inline-block;
	width: 80%;
	height: 30px;
	float: left;
	text-align: left;
	cursor: pointer;
}
.hotUser li span small{
	display: inline-block;
	width: 80%;
	height: 20px;
	line-height: 20px;
	padding-left: 20%;
}
.bookList{
	width: 100%;
	height: auto;
	margin-top: 15px;
	
}
.bookList p{
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	font: "微软雅黑";
	font-weight:bold;
	border-bottom: 2px solid #545652;
}
.bookList ul{
	display: block;
	width: 100%;
	height: auto;
}
.bookList li{
	display: inline-block;
	width: auto;
	height: 30px;
	padding: 5px;
	line-height: 30px;
}
.bookList span{
	display: inline-block;
	width: auto;
	height: 30px;
	border: 1px solid silver;
	border-radius:8px;
	cursor: pointer;
}
.bookList span a{
	font-size: 14px;
	color: black;
	display: inline-block;
	width: auto;
	height: 100%;
	padding: 0 5px;
}

.hotBooks{
	width: 100%;
	height: auto;
	float: left;
}
.htbook_item{
	float: left;
	width: 120px;
	height: 200px;
	padding: 15px 20px;
}
.htbook_item a{
	display: inline-block;
	width: 100%;
	height: 20px;
	text-align: center;
	color: black;
	line-height: 20px;
	font-size: 16px;
}
.htbook_img{
	width: 100%;
	height: 160px;
}

.newBook{
	width: 100%;
	height: auto;
	float: left;
	background: saddlebrown;
	border: 1px solid silver;
}
.nwbook_item{
	width: auto;
	min-width: 733px;
	height: auto;
	margin: 20px 25px;
	float: left;
}
.nwbook_img{
	width: 80px;
	height: 120px;
	float: left;
}
.nwbook_item span{
	display: inline-block;
	width: 600px;
	height: 120px;
	padding-left: 15px;
}
.nwbook_item span a{
	display: inline-block;
	width: 100%;
	font-size: 20px;
}
#copy{
	display: inline-block;
	width: auto;
	font-size: 14px;
	color: blue;
}
.nwbook_item span b{
	display: inline-block;
	width: 100%;
	font-size: 16px;
}
.booktext{
	font-family: "微软雅黑";
	font-size: 14px;
	width: auto;
	min-width: 630px;
	height: 60px;
}
#space{
	width: 100%;
	height: 50px;
	float: left;
}
.foot{
	height: auto;
}
.foot p{
	display: inline-block;
	width: 30%;
	height: 30px;
	margin-top: 30px;
	float: left;
	line-height: 30px;
	color: silver;
	font-size: 12px;
	padding-left: 10%;
}
.foot ul{
	display: inline-block;
	width: 60%;
	height: 30px;
	margin-top: 30px;
	float: left;
	line-height: 30px;
}
.foot li{
	display: inline-block;
	width: auto;
	margin: 0 10px;
	height: 30px;
	float: left;
}
.foot li:hover{
	background: blue;
}
.foot li a{
	text-decoration: none;
	font-size: 14px;
}
.foot li a:hover{
	color: white;
}
@media only screen and (min-width:1200px) {
	.Content{
		width: 1200px;
		margin: 0 auto;
	}
	.foot{
		width: 1200px;
		margin: 0 auto;
	}
	.books{
		width: 900px;
	}
	.bookAbout{
		width: 300px;
	}
}
@media only screen and (min-width:960px) and (max-width:1200px){
	.Content{
		width: 100%;
		margin: 0 auto;
	}
	.foot{
		width: 100%;
		margin: 0 auto;
	}
	.books{
		width: 75%;
	}
	.bookAbout{
		width: 25%;
	}
}
@media only screen and (max-width:960px){
	.contentBox{
		margin-left: 5%;
		width: 76%;
		min-width: 730px;
	}
	.Content{
		width: 100%;
		margin: 0 auto;
	}
	.foot{
		width: 100%;
		margin: 0 auto;
	}
	.books{
		width: 100%;
	}
	.bookAbout{
		width: 100%;
	}
}