.M-box{
	width: 800px;
	height: 80px;
	margin-left: 100px;
	float: left;
}
.M-box a{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 5px;
	margin-top: 20px;
	text-align: center;
	border: 1px solid silver;
	text-decoration: none;
	line-height: 30px;
}
.M-box a:last-child{
	width: 60px;
}
.M-box a:hover{
	background: silver;
	color: white;
}
.M-box span{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 5px;
	text-align: center;
	line-height: 30px;
}
.jump-ipt{
	display: inline-block;
	width: 50px;
	height: 25px;
	margin: auto 5px;
	border: 1px solid silver;
	text-decoration: none;
	line-height: 30px;
}
